
p{
	text-align: justify;
}

p span{

}

.btn_atendimento,.btn_atendimento:hover {
	color: #fff !important;
	font-weight: 400;
	border-radius: 0;
	border: 0 !important;
	background: #ffcc29 !important;

}

.container_empresa_home{
	background: url("../imgs/bg_empresa_home.jpg") top center no-repeat;
	min-height: 603px;
}

.bg_assistencia{
	background: url("../imgs/fundo_equipamentos.jpg") top center no-repeat;
	min-height: 486px;
}


.container_servicos_home{
	background: url("../imgs/bg_servicos_home.jpg") top center no-repeat;
	min-height: 473px;
}
.empresa_home h2{
	color: #fff;
	font-weight:700;
	text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}

.overflow_emp{
	overflow: hidden;
	height: 187px;
}

.btn_detalhe_empresa{
	color: #fbc108;
	background: #fff;
	border: 0;
}

.dicas_titulo h2 span{
	font-weight:700;
	color: #302c1e;
}

.dicas_titulo h2{
	font-weight:400;
	color: #302c1e;
}

.dicas .card{
	border: 0;

}.dicas .card-body{
	padding: 0 1.25rem;

}

 .dicas h6{
	 font-weight:400;
	 color: #000;
 }

 .dica_line_titulo{
	 overflow: hidden;
	 height: 40px;
 }

 .btn_detalhe_dicas{
	 color: #fbc108;
	 border: 0;
 }
.btn_detalhe_dicas:hover{
	 color: #000;
background: none;
}

.dicas img:hover{
	opacity: .8;
}

.btn_detalhe_servicos{
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	border: 1px solid #fff;

}.btn_detalhe_servicos:hover{
	color: #ffcc29;
	background: #fff;

}

 .border_prod{
	 border-bottom: 1px solid #ffcc29;
 }

 .produtos .card{
	 border: 0;
 }

.produtos .card a .w-100{
	border: 1px solid #afafaf;
}

.produtos .card-title{
	font-weight: 700;
	color: #414140;
}

.produtos h6{
	color: #252525;
	font-weight: 700;

}

.desc_prod_geral{
	overflow: hidden;
	height: 55px;
}



.btn_detalhe_produtos{
	background: #f8c212;
	color: #fff;
	font-weight: 400;
	border: 0;
	border-radius: 0	;
}

.btn_compra{
	background: #f2f2f2;
	color: #414140;
}

.btn_todos{
	font-weight:400;
}

.btn_buscar{
	background: none;
	border: 1px solid #a0a0a0;
}

.btn_login{
	background: #f2f2f2;
	border: 0;
	color: #8d8d8d;
}

.btn_confira{
	color: #080000;
	font-weight:400;
	border-radius:0;
	background: #d9d9d6;
	text-align: right;
}
.btn_confira:hover{
	color: #59574f;
}
.btn_confira span{
	font-weight:700;
}
.img_confira {
	position: absolute;
	left: 15px;
	top: -17px;
	border-bottom: 4px solid #ffcc29;
}

.btn_outiline{
	background: #f2f2f2;
	border: 0;
}

.titulo_internas h1 {
	font-weight: 700;
	color: #fff;
}

.titulo_internas h3{
	font-weight:700;
	color: #fff;
}


.descricao_interna h2{
	font-weight: 700;
	color: #414140;
}


.descricao_interna p{
	font-weight: 400;
	color: #252424;
}

.border_pagina h6{
	font-weight: 700;
	color: #414140;
}

.border_pagina h6 span{
	font-weight: 400;
}

.linha{
	border-bottom: 1px solid #dddddf;
}

.fundo_empresa{
	background: url("../imgs/fundo_empresa.jpg") top center no-repeat;
	min-height: 550px;
}


.fundo_formulario .nav-pills .nav-link {
	border-radius: 0;
	background: #dcdcdc;
	color: #fff;
	margin-bottom: 20px;
}


.fundo_formulario .nav-pills .nav-link:hover{
	background-color: #5a6268;
	border-color: #545b62;
}

.descricao_interno h2{
	color: #414140;
	font-weight: 700;
}