/**
============================================
rodape
============================================
*/

.rodape {
    background: #f7f6f4;
    min-height: 190px;
}

.rodape .navbar {
    padding: 0;
}

.rodape .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    color: #414140;
    font-weight: 400;
    margin-right: 27px;
}

.rodape .navbar-nav .nav-item .nav-link:hover,
.rodape .navbar-nav .nav-item .nav-link.active {
color: #f8c212;
}

.justify-content-start .nav-item {
    margin: 0;
}

.rodape .navbar-nav > li > a {
    padding: 11px;
}

.telefone_topo .atentimento{
    font-weight: 400;
    margin-left: 32px;
}

.borde_rodape{
    border-bottom: 1px solid #f8c212;
    padding-bottom: 6px;

}

.redes a {
    color: #2c2c2c;
    font-size: 17px;
}

.redes .fa-2x{
    margin-top: 10px;
}

.rodape_baixo {
    background: #ffcc29;
    height:41px;

}

.telefone_topo {
    color: #000;
    font-weight: 400;
}

.telefone_popover {
    color: #000;
    text-align: left;
}

.telefone_rodape .relativo {
    color: #fff;
    font-weight: 400;
}

.telefone_rodape .svg-inline--fa.fa-fw, .telefone_rodape .svg-inline--fa.fa-w-14 {
    color: #000;
}

.endereco_topo p {
    color: #fff;
    font-weight: 400;
}

.rodape_baixo h5 {
    font-weight: 700;
    color: #fff;
}

.form_pag{
    background: url("../imgs/forma_pag.jpg")top center no-repeat;
    min-height: 235px;
}

/**
============================================
topo
============================================
*/
.topo-site{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;

}
.bg_topo {
    background: url(../imgs/bg_topo.png) top center no-repeat;
    min-height: 112px;
    position: relative;

}

.menu_topo {
    margin-top: 3px;
}

.menu_topo .navbar-light .navbar-nav .nav-link {
    color: #5f5f61;
    background: none;
    font-weight: 400;
    margin-top: 10px;
    padding: 23px 0px 0px 0px;
    margin-left: 30px;

}

.menu_topo .navbar-light .navbar-nav .active > .nav-link,
.menu_topo .navbar-light .navbar-nav .nav-link:hover {
    font-weight: 700;
    color: #f8c212;
    padding: 23px 0px 0px 0px;
    margin-left: 30px;

}

.menu_topo .nav-link1 {
    display: block;
    background: #ffcc29;
    color: #fff;
    font-weight: 400;
    margin-left: 13px;

}

.nav-link1, .nav-link1:hover {
    color: #fff;
    font-weight: 400;
    background: #2c2b2b;
    border-radius: 0;
}

.lista-itens-carrinho a {
    color: #ff0000;
    opacity: .5;
}

/**
============================================
topo
============================================
*/
