/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
    width: 100%;
    height: 519px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    margin-top: 87px;
    position: relative;
    
}

#content_slider {
    width: 1920px;
    height: 519px;
    overflow: hidden;
    position: relative;
    margin-left: -950px;
    top: 37px;
    left: 50%;
}

/*arrow personalizados*/
#container_banner .rsArrowLeft {
    display: block;
    width: 0;
    height: 0;
    background: url(../imgs/arrow_left.png) center no-repeat;
    z-index: 999;
    top: 280px;
    position: absolute;
    left: 5px;
}

#container_banner .rsArrowRight {
    display: block;
    width: 0;
    height: 0;
    background: url(../imgs/arrow_right.png) center no-repeat;
    z-index: 999;
    top: 280px;
    position: absolute;
    right: 5px;
}

/*bolinhas personalizados*/
#content-slider-1 .rsTabs {
    width: 162px;
    height: 0px;
    z-index: 9999;
    position: absolute;
    left: 874px;
    bottom: 20px;
    text-shadow: -4px -3px 2px rgba(0, 0, 0, 0.76);
}

#content-slider-1 .rsNavItem {
    background: #fff;
    width: 0px; /*setas*/
    opacity: 1;
    height: 25px; /*setas*/
    float: left;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
}

#content-slider-1 .rsNavSelected {
    opacity: 1;
    background: #848585;
    box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: -2px 2px rgba(0, 0, 0, 0.6);
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- flexslider  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

.lista_categorias .flexslider {
    margin: 0 0 0px;
    background: none;
    border: 0;
    border-radius: 0;
}

.lista_categorias #slider_categorias .slides li a {
    font-size: 16px;
    color: #040000;
    font-weight: 400;
    border: 0;
}

.lista_categorias #slider_categorias .slides li a:hover {
    background: #ffcc29;
    color: #fff;
}

.custom-navigation1 a {
    color: #404142;
}

.custom-navigation1 a:hover {
    color: #000;
}

.produto-hover {
    left: 0px;
    background: url(../imgs/transparente.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: 100% 100%;
    
}

.carroucel_produtos h2, .carroucel_produtos h5 {
    color: #fff;
    font-weight: 600;
}


.bg_produtos_home {
    position: absolute;
    top: 30%;
    background: none;
}

.bg_produtos_home {
    padding: 1.38rem /* 22/16 */;
}

.produto-hover a:hover {
    color: #000;
}

.hover_prod {
    height: 268px;
}

.row_alt {
    min-height: 263px;
}

.produto-hover a {
    color: #fff;
    
}

.produto-hover a:hover {
    color: #178517;
}

.produto_hover_cat {
    padding-left: 0;
}

.btn_saiba_mais {
    color: #3e3d3d;
    font-size: .88rem /* 14/16 */;
}

.btn_saiba_mais:hover {
    color: #178517;
}

.btn_saiba_mais .svg-inline--fa.fa-fw {
    color: #000 !important;
}

.fa-plus-circle:before {
    color: #000 !important;
}

.carroucel_produtos .card {
    border: 0;
    background: #e1e2e1;
    padding: 0;
}

.position_barra_hover {
    width: 286px !important;
    margin-top: -7px;
}

.lista_produtos_home .flexslider {
    margin: 0;
    border: 0;
    background: none;
}

.lista_servicos .flexslider {
    margin-top: 107px;
}

#slider_carousel1 .flex-prev {
    top: 20%;
    left: 0;
}

#slider_carousel1 .flex-next {
    top: 20%;
    right: 0;
}

.custom-navigation a {
    color: #bfc1c4;
}

.custom-navigation a :hover {
    color: #178517;
}

.portfolio .card {
    border: 0;
    background: none;;
    padding: 0;
    margin-right: 6px;
}

#slider_carousel_portifolio .flex-direction-nav a {
    margin: -22px -35px 0;
}

#slider_carousel_portifolio .flex-direction-nav .flex-prev {
    /* left: -50px; */
}

#slider_carousel_portifolio .flex-direction-nav .flex-next {
    /* right: -50px;
    text-align: right; */
}

.slider_prod_geral .flexslider .slider-prod-tumb {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    background: none;
    border: 0;
    z-index: 9;
}

.slider_prod_geral .slider-prod-tumb li img,
.slider_prod_geral .slider-prod-tumb li img.active {
    height: 60px !important;
    padding: 5px;
}

.slider_prod_geral .slider-prod li img:hover {
    cursor: -webkit-zoom-in;
}

.slider_prod_geral .slider-prod-tumb li img:hover,
.slider_prod_geral .slider-prod-tumb li.active img {
    opacity: 1;
    border: 1px solid #001d33;
}

#carousel_item .flex-active-slide img {
    opacity: .6;
    cursor: default;
}

.desc_titulo_home {
    overflow: hidden;
    height: 48px;
}

.lista-produto h6 span {
    color: #444444;
    font-weight: 400;
}

.portfolio figure.effect-julia img {
    height: 201px;
}

.servicos_body {
    background: #ffcc29;
    width: 272px;
    position: absolute;
    top:211px;
    left: 10px;
    padding: 1.25rem;
}
.desc_servicos_geral {
    height: 41px;
    width: 230px;
    overflow: hidden;
}



.desc_servicos_geral h6{
    color: #fff;
    font-weight: 700;
}

.slider_prod_geral #slider_item {
    margin: 0 !important;
}

.circle{
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 99;
}

.circle img{
    width: inherit !important;
}

#carousel_item .slider-prod-tumb{
    border-bottom: 0;
    padding-bottom: 14px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- flexslider  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- EFFECT JULIA  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

figure.effect-julia:hover {
    background: #2f3238;
}

.lista-produto .grid figure figcaption {
    padding: 2em 1.9em;
}

.lista-produto figure a {
    color: #c9cbd1;
    background: none;
}


.lista-produto figure a:hover {
    color: #000;
}


.portfolio figure.effect-julia p {
    background: none !important;

}

.portfolio .grid figure {
    min-width: 270px !important;
}

.portfolio .grid figure a{
    width: 286px !important;
    height: 286px !important;
}
