@font-face {
  font-family: 'EdwardianScriptITC';
  src: url('EdwardianScriptITC.woff') format('woff'),
       url('EdwardianScriptITC.ttf') format('truetype'),
       url('EdwardianScriptITC.svg#EdwardianScriptITC') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'edwardian-script-itc';
  src: url('edwardian-script-itc.eot');
  src: url('edwardian-script-itc.woff2') format('woff2'),
       url('edwardian-script-itc.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

