/* =============== EMPRESA =============== */

.localizacao-pagina {
    height: 5.5rem;
    padding-top: 8px;
}

.open {
    font-family: 'Open Sans', sans-serif;
}

.font-index h4 {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px 3px #000000;
    font-weight: 700;
}

.font-index h5 {
    font-size: 18px;
    color: #fff;
    text-shadow: 1px 1px 3px #000000;

}

.localizacao-pagina h5 {
    color: #ffcc29;
    font-weight: 700;
    text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6);
}

.localizacao-pagina h6 {
    font-weight: 400;
    color: #696a6a;
}

.empresa_geral h6 {
    color: #302c1e;
    font-weight: 400;
}

.empresa_geral h6 span {
    font-weight: 700;
}

.contato_emp h6 {
    color: #414140;
    font-weight: 700;
}

.dicas .card {
    border: 0;
}

.dicas a .align-self-center {
    color: #fbc108;
    border: 0;
}

.dicas h6 {
    font-weight: 400;
    color: #000;
}

.dica_line_titulo {
    overflow: hidden;
    height: 37px;
}

.dica_dentro h5 {
    font-weight: 700;
    color: #ffcc29;
}

.assistencia .card {
    background: #ffcc29;
    border: 0;
}

.servicos_gerais {
    font-weight: 700;
    color: #fff;
}

.btn_detalhe_servicos {
    color: #ffcc29;
    font-weight: 700;
    font-size: 13px;
    background: #ffffff
}

.desc_servicos_geral {
    height: 41px;
    overflow: hidden;
}

.btn_ligue{
    color: #000;
    font-weight: 400;
    font-size: 18px;
}

.btn_detalhe_produtos {
    background: #f8c212;
    color: #fff;
    font-weight: 400;
    border: 0;
    border-radius: 0;
}

.btn_compra {
    background: #f2f2f2;
    color: #414140;
}

.menu_Cat .list-group-item.active {
    background-color: #f8c212;
    border-color: #f8c212;
}

.btn_comprar{
    color: #0b0b0b;
    font-size: 18px;
    background: #d9d9d6;
    font-weight: 400;
}


.conteudo .table thead th{
    color: #f8c212;
}

.conteudo .table tbody th{
    font-size: 14px;
}

.bg_amarelo{
    background: #ffcc29;
    min-height: 60px;
    line-height: 60px;
}

.linha_branca{
    border: 1px solid #fff;
}

.btn_login{
    color: #0b0b0b;
}